[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest="*"
notebook="==6.4.12"
jupyter="*"
mkdocs="*"
pytest-cov = "*"
# testing stats against other implementations
scikit-learn = "*"
esda = "*"
libpysal = "*"
matplotlib = "*"
# Docs dependencies
# docs can only be built in 3.8+
mkdocs-material = {version = ">=9.5.22", markers="python_version > '3.7'"}
mkdocstrings-python = {version = ">=1.10.0", markers="python_version > '3.7'"}
mkdocs-autorefs = {version = ">=1.0.1", markers="python_version > '3.7'"}
mkdocs-gen-files = {version = ">=0.5.0", markers="python_version > '3.7'"}
mkdocs-literate-nav = {version = ">=0.6.1", markers="python_version > '3.7'"}
mkdocs-section-index = {version = ">=0.3.9", markers="python_version > '3.7'"}
mkdocs-jupyter = {version = ">=0.24.7", markers="python_version > '3.7'"}
sphinx-material = {version = ">=0.0.36", markers="python_version > '3.7'"}

[packages]
pandas=">=2.0.0"
numpy="<2"
geopandas="*"
# https://stackoverflow.com/questions/78949093/how-to-resolve-attributeerror-module-fiona-has-no-attribute-path
# cannot set geopandas>=0.14.4 since it doesn't support python 3.8, so we pin fiona to <1.10.0
fiona="<1.10.0"
shapely=">=1.7.0"
pyspark=">=2.3.0"
attrs="*"
pyarrow="*"
keplergl = "==0.3.2"
pydeck = "===0.8.0"
pystac = "===1.8.4"
rasterio = ">=1.2.10"
boto3 = "*"
kneed = "<=0.8.5"
scipy = "<=1.10.0" # prevent incompatibility with pysal 4.7.0, which is what is resolved to when shapely >2 is specified
typing-extensions = "*"

[requires]
python_version = "3.8"
